*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 30%;
    background-color: #030409;
    min-height: 100vh;
}

/* Header Section */

header{
    padding-top: 60px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 40px;
}

button{
    font-size: 24px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.btn.active{
    color: #D47D19;
}

.content{
    color: white;
}

/* HomePage Section */

.home-container{
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.top{
    color: #D9D9D9;
}

h1{
    font-size: 64px;
}

h3{
    margin: 10px 0;
    width: 550px;
    font-size: 22px;
}

p{
    margin: 26px 0;
}

.view-menu, .order-now{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}

.view-menu{
    margin-right: 85px;
    border: 1px solid #D47D19;
}

.order-now{
    background-color: #D47D19;
}

.home-image img{
    width: 450px;
    height: 600px;
    filter: drop-shadow(0 0 20px rgba(255, 204, 0, 0.8));
}

/* Menu Section */
.cards{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-content: center;
}

.card{
    border: 1px solid #D47D19;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.img-card-menu{
    width: 386px;
    height: 311px;
}

p{
    font-size: 40px;
}

.price{
    font-size: 24px;
}

.btn-menu-card{
    background-color: #D47D19;
    border-radius: 30px;
    padding: 10px 30px;
}


/* About Section */
.about-container{
    padding-top: 80px;
}

.left-about{
    border: 1px solid #D47D19;
    padding: 20px;
    border-radius: 20px;
}

.row{
    display: flex;
    align-items: center;
    gap: 40px;
}

.row h3{
    font-size: 40px;
}

.row p{
    font-size: 24px;
}

i{
    color: #D47D19;
    font-size: 30px;
}

.right-about img{
    width: 400px;
    height: 500px;
    position: absolute;
    bottom: 17rem;
    right: 20rem;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}